MessagingApp/__pycache__/wsgi.cpython-36.pyc
MessagingApp/__pycache__/__init__.cpython-36.pyc
ApiInterface/__pycache__/__init__.cpython-36.pyc
ApiInterface/__pycache__/messagingServices.cpython-36.pyc
ApiInterface/__pycache__/admin.cpython-36.pyc
ApiInterface/__pycache__/MessagingServices.cpython-36.pyc
ApiInterface/__pycache__/models.cpython-36.pyc
ApiInterface/__pycache__/serializers.cpython-36.pyc
ApiInterface/__pycache__/urls.cpython-36.pyc
ApiInterface/__pycache__/views.cpython-36.pyc
ApiInterface/migrations/__pycache__/__init__.cpython-36.pyc
ApiInterface/migrations/__pycache__/0002_auto_20201115_1547.cpython-36.pyc
MessagingApp/__init__.py
ApiInterface/migrations/__pycache__/0001_initial.cpython-36.pyc
MessagingApp/__pycache__/settings.cpython-36.pyc
MessagingApp/__pycache__/urls.cpython-36.pyc
ApiInterface/migrations/0001_initial.py
ApiInterface/migrations/0002_auto_20201115_1547.py
